:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#1e1e1e 85%, #655174 95%);
  color: white;
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
#hero {
  background-image: url("./assets/headerBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
}

.purple {
  color: #9b78b8;
}

.letrasCarousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-container {
  display: flex;
  animation: moveBanner 20s linear infinite;
}

.letrasCarousel img {
  width: 100% !important;
  height: auto;
  flex: none; /* esto evita que las imágenes se reduzcan */
  margin-right: 60px;
  padding: 5% 0;
}

.ecosistema__item {
  /* border: 1px solid red; */
  margin: 0 5%; /* Puedes a*/
  /* padding: 5%; */
  border-radius: 15px;
  width: 315px;
  height: 256px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.25),
    -4px -4px 10px rgba(2, 2, 2, 0.2);
}

.servicios__item {
  /* border: 1px solid blue; */
  width: 397px;
  height: 456px;
  border-radius: 15px;
}

.servicios__item:nth-child(1) {
  background-image: url("./assets/cardDesarrollo.svg");
  background-repeat: no-repeat;
}
.servicios__item:nth-child(2) {
  background-image: url("./assets/cardMarketing.svg");
  background-repeat: no-repeat;
}
.servicios__item:nth-child(3) {
  background-image: url("./assets/cardUX.svg");
  background-repeat: no-repeat;
}
.servicios__item:nth-child(4) {
  background-image: url("./assets/cardConsultoria.svg");
  background-repeat: no-repeat;
}

.contenido__card__servicios {
  position: relative;
  top: 50%;
}

@keyframes moveBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.titulos-info {
  padding: 2% 0;
}

.icono__footer {
  margin: 0 5%;
}

footer {
  background: #1e1e1e;
}

#titulo__xlab {
  /* 
  left: 10%; */
  position: relative;
  top: 15%;
  padding-left: 15%;
}

#info__primer__bloque,
#ecosistemas,
#carouselMobile,
#carouselDesktop,
#info__segundo__bloque,
footer {
  font-family: Jost;
}

#titulo__xlab h1 {
  font-family: Jost;
  font-size: 7rem;
  font-weight: 700;
  line-height: 6rem;
}

#titulo__xlab p {
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
  font-family: Jost;
  font-size: 1.5rem;
  line-height: normal;
}

a:link {
  text-decoration: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}
