:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #1e1e1e;
  color: white;
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
#hero {
  background-image: url("./assets/headerBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
}

#purple-bold {
  color: #9b78b8;
}

#letrasCarousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-container {
  display: flex;
  animation: moveBanner 20s linear infinite;
}

#letrasCarousel img {
  width: 100%;
  height: auto;
  flex: none; /* esto evita que las imágenes se reduzcan */
  margin-right: 60px;
  padding: 5% 0;
}

.titulos-info {
  padding: 2% 0;
}

@keyframes moveBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
